# -------------------------------------------------------------------------
# mass regions
[file]
base = /store/user/srosenzw/sixb/sixb_ntuples/Summer2018UL
signal = NMSSM/NMSSM_XYH_YToHH_6b_MX_700_MY_400/ntuple.root
data = JetHT_Data_UL/JetHT_Run2018_full/ntuple.root
tree = sixBtree
year = 2018

# -------------------------------------------------------------------------
# how were the 6 jets paired into 3 H?
# run 'eosls /store/user/srosenzw/sixb/sixb_ntuples/Summer2018UL' to see the most up-to-date options
# .- dHHH_pairs
# .- mH_pairs
[pairing]
scheme = dHHH_pairs

# -------------------------------------------------------------------------
# mass regions
[rectangular]
maxSR = 25
maxVR = 60
maxCR = -1

[spherical]
ARcenter = 125
VRcenter = 185
rInner = 25
rOuter = 50

# -------------------------------------------------------------------------
# score regions
[score]
threshold = 0.65

# -------------------------------------------------------------------------
# BDT parameters
[BDT]
Nestimators = 40
learningRate = 0.1
maxDepth = 3
minLeaves = 300
GBsubsample = 0.6
randomState = 2020

variables = HX_b1_pt, HX_b2_pt, HY1_b1_pt, HY1_b2_pt, HY2_b1_pt, HY2_b2_pt, HX_pt, HY1_pt, HY2_pt, HX_dr, HY1_dr, HY2_dr, HX_eta, HY1_eta, HY2_eta, HX_m, HY1_m, HY2_m, HX_HY1_dEta, HY1_HY2_dEta, HY2_HX_dEta